.glowing-image-root {
    position: relative;
    border-radius: 0.6rem;
  }
   
  .glowing-image-root::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--img-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: -1; */
    border-radius: inherit;
    /* You can change these values until it looks fine to you */
    filter: blur(4rem) saturate(3);
  }
   
  @keyframes glow {
    from {
      transform: scale(1);
    }
   
    to {
      transform: scale(0.98);
    }
  }
   
  .glowing-image-root:hover::before {
    animation: glow 500ms ease-in-out alternate infinite;
  }
   
  .glowing-image {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    transform: scale(1);
  }